/* 
    Author: Hannah Wroblewski
    Theme: Online Potion Shop
    Version: 1.0
*/

/* CSS For All */

*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #c4d6b0; */
}

.container{
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 1%;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.clear-fix{
    clear: both;
    float: none;
}

a{
    color: #a3333d;
    text-decoration: none;
}

a:hover{
    color:#33a333;
}

.button{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 30px;
}

.button-primary{
    background-color: #f64740;
    color: #ececec;
    cursor: pointer;
}

.button-primary:hover{
    background-color: #33a333;
}

/* NavBar CSS */

.logo{
    border: 1px solid blue;
    width: 10%;
    float: left;
}

.img-responsive{
    width: 100%;
}

.menu{
    line-height: 60px;
}

.menu ul{
list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* Potion Search CSS */

/* v redo with gradient v */
.potion-search{
    background-image: url(../images/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.potion-search input[type='search']{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
}