/* 
    Author: Hannah Wroblewski
    Theme: Online Potion Shop
    Version: 1.0
*/

/* CSS For All */

*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c4d6b0;
}

.container{
    width: 80%;
    
    margin: 0 auto;
    padding: 1%;
    /* background-color: transparent; */
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.clear-fix{
    clear: both;
    float: none;
}

a{
    color: #a3333d;
    text-decoration: none;
}

a:hover{
    color:#33a333;
}

.button{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 30px;
}

.button-primary{
    background-color: #f64740;
    color: #ececec;
    cursor: pointer;
}

.button-primary:hover{
    background-color: #33a333;
    color: #ececec;
}

h2{
    color: #1e2d24;
    font-size: 2rem;
    margin-bottom: 2%;
}

h3{
    font-size: 1.5rem;
}

.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 100px;
    left: 25%;
    /* align-items: center; */
    top: 90%;
}

/* .text-white{
    color: white;;
} */

/* NavBar CSS */

.logo{
    
    width: 10%;
    float: left;
}

.img-responsive{
    width: 100%;
}

.img-curve{
    border-radius: 100%;
}

.menu{
    line-height: 60px;
}

.menu ul{
list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* Potion Search CSS */

/* v redo with gradient v */
.potion-search{
    background-image: url(../images/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.potion-search input[type='search']{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    background-color: white;
}

/* v come back to this v */
/* .form{
    background-color: transparent;
} */


/* Categories CSS */

.categories{
    padding: 4% 0;
}

.box-3{
    
    width: 27%;
    float: left;
    margin: 3%;
}

/* Bundles CSS */

.potion-packs{
    background-color: #96a386;
    padding: 4% 0;
}

.bundle-box{
    
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: #334139;
    border-radius: 2%;
}

.bundle-img{
    width: 20%;
    float: left;
}

.bundle-info{
    width: 70%;
    float: left;
    margin-left: 8%;
    
}

.bundle-price{
    font-size: 1.2rem;
    margin: 2% 0;
}

.bundle-desc{
    font-size: 1rem;
    color: #96a386;
}

/* Social Media CSS */
.social-media ul{
    list-style-type: none;
}

.social-media ul li{
    display: inline;
    padding: 1%;
}

/* Mobile CSS */
@media only screen and (max-width: 768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .potion-search input[type="search"]{
        width: 90%;
        margin-bottom: 3%;
        padding: 2%;
    }

    .potion-search{
        padding: 10% 0;
    }

    .button{
        width: 90%;
        padding: 2%;
    }

    .categories{
        padding: 10% 0;
    }

    h2{
        margin-bottom: 5% auto;
    }

    .box-3{
        width: 95%;
        margin: 4% auto;
    }

   .potion-packs{
       padding: 20% 0;
   }
   
   .bundle-box{
       width: 90%;
       padding: 5%;
       margin-bottom: 5%;
   }

   .social-media{
       padding: 5% 0;
   }
}